{% apply inky_to_html | inline_css(source('@styles/foundation-emails.css'), source('@styles/mail.css')) %}
<container>
    <row class="header">
        <columns>
            <a href="{{ url('app_homepage') }}">
                <img src="{{ email.image('@images/email-logo.png') }}" class="text-center" alt="Logo">
            </a>
        </columns>
    </row>
    {% block content %}{% endblock %}
    {% block footer %}
        <row class="light-grey-background">
            <columns small="4" large="4">
                <h6 class="grey-color only-normal-m-top">Segueix-nos</h6>
            </columns>
            <columns small="4" large="4">
                <h6 class="grey-color only-normal-m-top">Telèfons</h6>
            </columns>
            <columns small="4" large="4">
                <h6 class="grey-color only-normal-m-top">Adreça</h6>
            </columns>
        </row>
        <row class="light-grey-background">
            <columns small="1" large="1">
                <a href="https://www.facebook.com/boxviuelsidiomes/">
                    <img class="footer-icon" src="{{ email.image(('@images/email_facebook.png') }}" alt="facebook logo">
                </a>
            </columns>
            <columns small="3" large="3">
                <a href="https://www.instagram.com/explore/locations/524502350/">
                    <img class="footer-icon" src="{{ email.image(('@images/email-instagram.png') }}" alt="instagram logo">
                </a>
            </columns>
            <columns small="4" large="4">
                <p class="grey-color">
                    {{ main_brand_phone_2 }}<br>
                    {{ main_brand_phone_1 }}
                </p>
            </columns>
            <columns small="4" large="4">
                <p class="grey-color">
                    {{ main_brand_address }}<br>
                    43870 Amposta<br>
                    (Tarragona)
                </p>
            </columns>
        </row>
    {% endblock %}
</container>
{% endapply %}
