{% extends "Mails/base.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h3 class="grey-color">Notificació de contacte</h3>
            <spacer size="15"></spacer>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <h4>Persona interessada en contactar</h4>
            <p class="grey-color">
                {{ contact.name }}, amb correu elèctrònic <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> {% if contact.phone %}i telèfon {{ contact.phone }} {% endif %}ha emplenat el formulari de contacte amb el següent missatge:
            </p>
            <p class="grey-color">
                "{{ contact.message | nl2br }}"
            </p>
            <p>
                Comprova-ho a la teva llista de contactes del CMS <a href="{{ url('admin_app_contactmessage_list') }}">aquí</a>, o respon-li directament clicant <a href="{{ url('admin_app_contactmessage_answer', {id: contact.id }) }}">aquí</a>
            </p>
        </columns>
    </row>
{% endblock %}
