{% extends "Mails/base.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h5 class="grey-color">A contiuació trobaràs adjunt la factura número {{ invoice.invoiceNumber }} amb data {{ invoice.dateString }}</h5>
            {% if invoice.lines | length > 0 %}
                <p>
                    {{ invoice.lines[0].description }}
                </p>
            {% endif %}
            <p>
                Base imposable: {{ invoice.baseAmountString }}<br>
                <strong>Import total: {{ invoice.totalAmountString }}</strong>
            </p>
            <p class="blue-color text-center normal-m-top">
                Moltes gràcies per confiar amb {{ main_brand_title }}.
            </p>
        </columns>
    </row>
{% endblock %}
