{% extends "@SonataAdmin/CRUD/base_show_field.html.twig" %}

{% block field %}
    {% if object and object.document %}
        {% if is_contact_message_document_image_file(object) %}
            <img src="{{ vich_uploader_asset(object, 'documentFile') | imagine_filter('480xY') }}" alt="{{ object.document }}" class="img-responsive">
        {% elseif is_contact_message_document_pdf_file(object) %}
            <a
                {{ stimulus_controller('pdf-button', {'attachment': object.id, 'path': vich_uploader_asset(object, 'documentFile')}) }}
                {{ stimulus_action('pdf-button', 'clicked') }}
                data-toggle="modal"
                data-target="#pdf-preview-modal"
                class="btn btn-warning btn-xs btn-flat d-block margin-bottom"
            >
                <i class="fas fa-file-pdf mr-1"></i> {{ 'backend.admin.modal.pdf_preview_window_title' | trans }}
            </a>
            <div id="{{ object.id }}" data-holder="pdf" data-download="{{ vich_uploader_asset(object, 'documentFile') }}" >
                <canvas id="pdf-{{ object.id }}" class="pdf-canvas">
                    <i class="fas fa-5x fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                </canvas>
            </div>
        {% endif %}
        <a class="btn btn-warning btn-xs btn-flat d-block" href="{{ vich_uploader_asset(object, 'documentFile') }}" download>
            <i class="fas fa-download mr-1"></i> {{ 'vich_uploader.link.download' | trans | capitalize }}
        </a>
    {% endif %}
{% endblock %}
