{% extends "@SonataAdmin/standard_layout.html.twig" %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
        <img src="{{ asset('build/img/backend-logo.png') }}" alt="{{ sonata_config.title }}">
        <span>{{ sonata_config.title }}</span>
    </a>
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="padding:50px 0 0 20px;color:#EEE;">{{ admin_tag_version }}<br><i class="fa fa-code"></i> Desenvolupat per <a href="https://www.flux.cat" target="_blank">Flux</a><br><i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ path('app_homepage') }}" target="_blank">{{ main_brand_title }}</a></p>
{% endblock %}

{# custom top menu#}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        {{ knp_menu_render('backend_top_nav_menu', {currentClass: 'active', allow_safe_labels: true}) }}
    </div>
{% endblock %}

{# override css includes #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}"/>
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    {{ importmap('app') }}
{#    {{ encore_entry_script_tags('backend') }}#}
{% endblock %}

{# custom main content #}
{% block sonata_page_content %}
    <div class="modal fade" tabindex="-1" role="dialog"
         data-controller="audio-player-preview"
         data-action="app-audio-player-button-clicked@window->audio-player-preview#update"
         data-audio-player-preview-target="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-action="audio-player-preview#closeModal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'backend.admin.modal.audio_palyer' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <p class="lead" data-audio-player-preview-target="title"></p>
                    <audio style="width:100%" data-audio-player-preview-target="loader" controls></audio>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pdf-preview-modal" tabindex="-1" role="dialog"
         data-controller="modal-helper"
         data-action="app-modal-helper-open@window->modal-helper#open"
         data-modal-helper-target="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div data-controller="pdf-preview" data-action="app-pdf-preview-button-clicked@window->pdf-preview#update" data-pdf-preview-hidden-class="hidden" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-action="modal-helper#close" aria-label="{{ 'backend.admin.modal.close_window' | trans }}"><span aria-hidden="true">&times;</span></button>
                    <div class="btn-group mr-3" role="group" aria-label="{{ 'backend.admin.modal.pdf_preview_window_title' | trans }}">
                        <a data-pdf-preview-target="downloader" style="margin-right:3px;" class="btn btn-warning" download><i class="fas fa-cloud-download-alt"></i> {{ 'vich_uploader.link.download' | trans | capitalize }}</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="{{ 'backend.admin.modal.pdf_preview_window_title' | trans }}">
                        <button data-action="pdf-preview#onPrevPage" type="button" class="btn btn-warning"><i class="fas fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default">{{ 'backend.admin.modal.pdf_preview_page' | trans }}&nbsp;<span data-pdf-preview-target="current"></span>&nbsp;{{ 'backend.admin.modal.pdf_preview_page_of' | trans }}&nbsp;<span data-pdf-preview-target="total"></span></button>
                        <button data-action="pdf-preview#onNextPage" type="button" class="btn btn-warning"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <p data-pdf-preview-target="loader" class="lead text-center mb-0"><i class="fas fa-5x fa-spin fa-circle-o-notch"></i></p>
                    <canvas style="width:100%" class="pdf-canvas hidden" data-pdf-preview-target="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
