{{ form_start(filter) }}
    <div class="form-group">
        {{ form_widget(filter.classroom) }}
        {{ form_errors(filter.classroom) }}
    </div>
    <div class="form-group">
        {{ form_widget(filter.teacher) }}
        {{ form_errors(filter.teacher) }}
    </div>
    <div class="form-group">
        {{ form_widget(filter.group) }}
        {{ form_errors(filter.group) }}
    </div>
    <div class="form-group">
        {{ form_widget(filter.trainingCenter) }}
        {{ form_errors(filter.trainingCenter) }}
    </div>
    <div class="form-group" style="margin-bottom:5px;margin-top:5px;">
        {{ form_widget(filter.submit) }}
    </div>
    <div class="form-group">
        <a href="{{ path('admin_app_filter_calendar', {'reset': true}) }}" class="btn btn-default" title="{{ 'backend.admin.reset_filter_calendar_by' | trans | capitalize }}" style="margin-bottom:5px;margin-top:5px;">
            <i class="fa fa-undo"></i>
        </a>
    </div>
{{ form_rest(filter) }}
{{ form_end(filter) }}
