{% extends "Front/layout.html.twig" %}

{% block title %}{{ 'frontend.menu.academy' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-12 col-md-6">
                <img src="{{ asset('img/academy_1.png') }}" class="img-fluid mb-3" alt="head">
            </div>
            <div class="col-sm-12 col-md-6 text-left c-grey">
                <h4 class="c-blue">{{ main_brand_title }}</h4>
                <p>L'objectiu de Box és que tothom, tingui l’edat que tingui, estigui a gust i motivat dins l'aula i aprengui de la manera més adaptada a ell possible i amb la màxima exibilitat.</p>
                <p>A Box, no hi ha cap grup igual. El nostre objectiu és adaptar-nos a les necessitats de cada alumne i no hi ha dos alumnes iguals i encara menys dos grups iguals. Per això treballem en grups reduïts de màxim 9 alumnes per classe.</p>
                <p>La metodologia parteix de la base de la Universitat de Cambridge, prestigiosa universitat reconeguda mundialment per la seva tasca en ensenyament de la llengua anglesa; ja sigui pels llibres i metodologia com pels valuosos títols que atorguen.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="text-center">
                    <img src="{{ asset('img/academy_2.png') }}" class="img-fluid" alt="head">
                </div>
            </div>
        </div>
        <div class="row my-5 justify-content-center align-items-center">
            <div class="col-sm-12 com-md-8 c-grey text-center">
                <p>A Box us esperem encantats, els resultats acadèmics i la bona opinió dels alumnes que han passat per aquí ens avalen.</p>
                <h4 class="c-violet">Vine i segur que parlem el mateix idioma!</h4>
            </div>
        </div>
    </div>
{% endblock %}
