{% extends "Front/layout.html.twig" %}

{% form_theme newsletterForm _self %}

{% block _contact_homepage_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="checkbox-privacy-homepage" {{ block('widget_attributes') }} />
        <label for="checkbox-privacy-homepage" class="control-label my-privacy-label-homepage">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col">
                <h1 class="visually-hidden">Viu els idiomes</h1>
                <div class="text-center">
                    <img src="{{ asset('img/homepage_def.png') }}" class="img-fluid" alt="imatge portada">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 my-5">
            {% for teacher in teachers %}
                <div class="col mb-5">
                    {% if teacher.imageName is not null %}
                        <img src="{{ vich_uploader_asset(teacher, 'imageFile') | imagine_filter('585x756_teacher_mask') }}" class="img-fluid" alt="{{ teacher.imageName }}">
                    {% else %}
                        <img src="{{ asset('img/1teacher.jpeg') | imagine_filter('585x756_teacher_mask') }}" class="img-fluid" alt="1teacher">
                    {% endif %}
                    <h4 class="c-blue mb-1">{{ teacher.name }}</h4>
                    <p>{{ teacher.description | raw }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'Front/includes/notice_flash.html.twig' %}
{% endblock %}
