{% extends 'Front/layout.html.twig' %}

{% form_theme newsletterForm _self %}

{% block _contact_homepage_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="checkbox-privacy-homepage" {{ block('widget_attributes') }} />
        <label for="checkbox-privacy-homepage" class="control-label my-privacy-label-homepage">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h2 class="visually-hidden">Viu els idiomes</h2>
                <div class="text-center">
                    <img src="{{ asset('build/img/homepage_def.png') }}" class="img-fluid" alt="imatge portada">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {# Teachers section #}
        <div class="row row-cols-3 my-5">
            {% for teacher in teachers %}
                <div class="col mb-5">
                    {% if teacher.imageName is not null %}
                        <img src="{{ vich_uploader_asset(teacher, 'imageFile') | imagine_filter('585x756_teacher_mask') }}" class="img-fluid" alt="{{ teacher.imageName }}">
                    {% else %}
                        <img src="{{ asset('build/img/1teacher.jpeg') | imagine_filter('585x756_teacher_mask') }}" class="img-fluid" alt="1teacher">
                    {% endif %}
                    <h4 class="{{ teacher.cssColor }} mb-1">{{ teacher.name }}</h4>
                    <p>{{ teacher.description | raw }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {# Flash messages #}
    {% include 'Front/includes/notice_flash.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scroll_to_flash') }}
{% endblock %}
