<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta name="description" content="{% block metadescription %}academia anglès box idiomes amposta{% endblock %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="author" content="www.flux.cat">
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>{% block title %}{{ main_brand_title }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('frontend') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}"/>
    {% block javascripts %}
        {{ encore_entry_script_tags('frontend') }}
    {% endblock %}
    {% if facebook_pixel_enabled %}
        <script type="text/javascript">
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ facebook_pixel_id }}', {em: 'insert_email_variable,'});
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ facebook_pixel_id }}&ev=PageView&noscript=1" alt="nopixel"/>
        </noscript>
    {% endif %}
</head>
<body{% block body_class %}{% endblock %}>
{#<!-- Head content -->#}
{% block header %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                <h1 class="visually-hidden">{{ main_brand_title }}</h1>
                <svg height="70" width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image height="70" width="100" class="navbar-logo" xlink:href="{{ asset('build/svg/box-logo-header.svg') }}"></image>
                </svg>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ knp_menu_render('top', {currentClass: 'active'}) }}
            </div>
        </div>
    </nav>
{% endblock %}
{#<!-- Main content -->#}
{% block main %}{% endblock %}
{#<!-- Scroll-Top effect -->#}
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-2x fa-chevron-up"></i></span></div>
{#<!-- Footer -->#}
{% block footer %}
    {# Newsletter section #}
    <div class="py-5 violet-background">
        <div class="container">
            <div class="row my-4">
                <div class="col-sm-4">
                    <h4 class="c-white"><i class="fab fa-whatsapp"></i> WhatsApp</h4>
                    <p class="c-white mb-0">Ens posarem en contacte tan aviat com sigui posssible.</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-right top-margin-responsive">
                    <a href="https://wa.me/{{ main_brand_phone_1 | replace({' ': ''}) }}?text=Hola! Estic interessat en rebre més informació sobre {{ main_brand_title }}." class="btn btn-outline-light">
                        <i class="far fa-paper-plane"></i> ENVIAR MISSATGE
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-4 text-left mb-sm-4">
                    <p class="text-title">Segueix-nos</p>
                    <a target="_blank" href="https://www.facebook.com/boxviuelsidiomes/" class="text-decoration-none">
                        <i class="fab fa-2x fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/boxidiomes/" class="text-decoration-none">
                        <i class="fab fa-2x fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-4 mb-sm-4">
                    <span class="text-title">Adreça</span><br>
                    {{ main_brand_address }}<br>
                    {{ main_brand_city }}<br>
                    <i class="fas fa-phone-alt" aria-hidden="true"></i> <a href="tel:{{ main_brand_phone_2 | replace({' ': ''}) }}" class="text-decoration-none">{{ main_brand_phone_2 }}</a> &nbsp; <i class="fas fa-mobile-alt" aria-hidden="true"></i> <a href="tel:{{ main_brand_phone_1 | replace({' ': ''}) }}" class="text-decoration-none"> {{ main_brand_phone_1 }}</a>
                </div>
                <div class="col-sm-4 col-xs-4 text-end">
                    <a href="{{ path('app_privacy_policy') }}" class="text-decoration-none">privacitat</a> · <a href="{{ path('app_credits') }}" class="text-decoration-none">crèdits</a><br>
                    <i class="far fa-copyright" aria-hidden="true"></i> {{ "now" | date("Y") }}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block analytics %}
    {#<!-- Google Analytics -->#}
    {% if google_analytics_enabled %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ google_analytics_account }}', 'auto'); ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
