{% extends "Front/layout.html.twig" %}

{% form_theme preRegisterForm _self %}

{% block _pre_register_hasBeenPreviousCustomer_widget %}
    <div class="checkbox">
        <input type="checkbox" id="hasBeenPreviousCustomer_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="hasBeenPreviousCustomer_checkbox">
            {{ 'frontend.forms.preregister.has_been_previous_customer' | trans }}
        </label>
    </div>
{% endblock %}

{% block _pre_register_wantsToMakeOfficialExam_widget %}
    <div class="checkbox">
        <input type="checkbox" id="wantsToMakeOfficialExam_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="wantsToMakeOfficialExam_checkbox">
            {{ 'frontend.forms.preregister.wants_to_make_official_exam' | trans }}
        </label>
    </div>
{% endblock %}

{% block _pre_register_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block title %}{{ 'frontend.menu.preregisters' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    {% include 'Front/includes/notice_flash.html.twig' %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h1 class="c-blue my-5">{{ 'frontend.preregister.main_title' | trans }}</h1>
                <div class="extra-m-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="season-tab" data-bs-toggle="tab" data-bs-target="#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2022') }}" type="button" role="tab" aria-controls="season" aria-selected="true">
                                <strong class="c-violet">{{ 'frontend.preregister.title_winter' | trans }}</strong>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content my-5">
                        <div class="tab-pane show active" id="#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2022') }}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <p class="c-violet">{{ 'frontend.preregister.description_winter' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(preRegisterForm) }}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.name) }}
                {{ form_row(preRegisterForm.phone) }}
                {{ form_row(preRegisterForm.age) }}
                {{ form_row(preRegisterForm.preferredTimetable) }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.surname) }}
                {{ form_row(preRegisterForm.email) }}
                {{ form_row(preRegisterForm.courseLevel) }}
                {{ form_row(preRegisterForm.previousAcademy) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {{ form_row(preRegisterForm.comments) }}
                {{ form_row(preRegisterForm.hasBeenPreviousCustomer) }}
                {{ form_row(preRegisterForm.privacy) }}
                {{ form_row(preRegisterForm.send) }}
            </div>
        </div>
        {{ form_rest(preRegisterForm) }}
        {{ form_end(preRegisterForm) }}
    </div>
{% endblock %}
