{% extends 'Front/layout.html.twig' %}

{% form_theme preRegisterForm _self %}

{% block _contact_message_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block title %}{{ 'frontend.menu.preregisters' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h1 class="c-blue no-m-top extra-m-bottom">{{ 'frontend.preregister.title' | trans }}</h1>
{#                <p>{{ 'frontend.preregister.description' | trans }}</p>#}
            </div>
        </div>
        {{ form_start(preRegisterForm) }}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.name) }}
                {{ form_row(preRegisterForm.phone) }}
                {{ form_row(preRegisterForm.age) }}
                {{ form_row(preRegisterForm.preferredTimetable) }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.surname) }}
                {{ form_row(preRegisterForm.email) }}
                {{ form_row(preRegisterForm.courseLevel) }}
                {{ form_row(preRegisterForm.previousAcademy) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {{ form_row(preRegisterForm.comments) }}
                {{ form_row(preRegisterForm.privacy) }}
                {{ form_row(preRegisterForm.send) }}
            </div>
        </div>
        {{ form_rest(preRegisterForm) }}
        {{ form_end(preRegisterForm) }}
    </div>
    {% include 'Front/includes/notice_flash.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Front/includes/scroll-to-flash-js.html.twig' %}
{% endblock %}
